services:
  tinyproxy:
    image: docker.io/kalaksi/tinyproxy
    # You can also use GitLab as an alternative to Docker Hub:
    # image: registry.gitlab.com/kalaksi-containers/tinyproxy
    restart: unless-stopped
    cap_drop:
      - ALL
    ports:
      - 8888:8888
    # See tinyproxy.conf for better explanation of these values.
    environment:
      # Optionally override port tinyproxy is listening on.
      # PORT: 8080
      # Set to "yes" to disable the Via-header, set to empty to leave it enabled.
      DISABLE_VIA_HEADER: 'yes'
      # Set this to e.g. tinyproxy.stats to enable stats-page on that address
      STAT_HOST: tinyproxy.stats
      MAX_CLIENTS: 100
      # A space separated list. If not set or is empty, all networks are allowed.
      ALLOWED_NETWORKS: 127.0.0.1/8 10.0.0.0/8 
      # One of Critical, Error, Warning, Notice, Connect, Info
      LOG_LEVEL: Notice
      # Maximum number of seconds idle connections are allowed to remain open
      TIMEOUT: 900
      # Username for BasicAuth
      # AUTH_USER: ''
      # Password for BasicAuth (letters and digits only)
      # Prefer secrets-mechanisms instead of environment variables.
      # AUTH_PASSWORD: ''
    # secrets:
    #   - auth_password
    # # With Alpine base image, this is required, for some reason, or /run/secrets won't get mounted.
    # tmpfs:
    #   - /run
    healthcheck:
      # Healthcheck command for curl. Change port if you changed PORT environment variable above.
      test: ["CMD", "curl", "-I", "-H", "Host: tinyproxy.stats", "http://localhost:8888"]
      # If you use use BasicAuth use this line instead, and replace <username>:<password> with your credentials and comment out the line above.
      # test: ["CMD", "curl", "-u", "<username>:<password>", "-I", "-H", "Host: tinyproxy.stats", "http://localhost:8888"] 
      interval: 5m
      timeout: 10s
      retries: 1
    # volumes:
    #   # If not using docker-compose for secrets, you can still manually mount a file containing the password.
    #   - ./secrets/auth_password:/run/secrets/auth_password:ro

# Secret for AUTH_PASSWORD
# secrets:
#   auth_password:
#     file: ./secrets/auth_password
